<div class="liste-show">
  <h1 class="page-title">New List</h1>

  <%= simple_form_for @list, html: { class: 'liste-form' } do |f| %>
    <%= f.input :name, label: 'Name', input_html: { class: 'form-input' } %>
    <%= f.input :photo, as: :file %>

    <div class="form-actions">
      <%= f.button :submit, 'Créer', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <a class="return-link" href="<%= root_path %>">Retour au menu</a>
</div>
