<html>
<body>
<div class="list-show">
  <div class="list-header">
    <h1><%= "Your Movies in the List: " %><%= @list.name %></h1>
  </div>
  <div class="list-image">
  <% if @list.photo.present? %>
    <img src="<%= cl_image_path @list.photo.key %>" alt="<%= @list.name %>" />
  <% else %>
    <p>No Image Available</p>
  <% end %>
</div>

  <div class="bookmarks-section">
    <!-- Déplacez le titre "Bookmark" en dessous de l'image -->


    <div class="card-container">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card">
          <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>">
          <div class="card-body">
            <h3><%= bookmark.movie.title %></h3>
            <p><%= bookmark.movie.overview %></p>
            <p><div class="rating">Rating: <%= bookmark.movie.rating %> /10</p></div>
            <h3>Comment</h3>
            <p><%= bookmark.comment %></p>
          </div>
          <%= link_to "Delete", list_bookmark_path(@list, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <!-- Formulaire pour créer un nouveau signet -->
<div class="new-bookmark-form">
  <h2 class="form-title">New Bookmark</h2>
  <%= simple_form_for [@list, @bookmark], html: { class: 'form' } do |f| %>
    <div class="form-group">
      <%= f.input :comment, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, prompt: "Choose a Movie", input_html: { class: 'form-control' } %>
    </div>

    <%= f.button :submit, "Add Bookmark", class: 'button' %>
    <a class="button" href="<%= root_path %>">Home</a>
  <% end %>
</div>
</body>
</html>
